@import "./variables.scss";
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand');

body,
html {
  margin    : 0;
  padding   : 0;
  overflow-x: hidden;
  color: #323A5D !important;

  #app{
    background-color: #EFF3F8 !important;
  }
  * {
    font-family   : 'Kanit', sans-serif;
    font-display  : swap;
    letter-spacing: 0.03em;
  }
}

.v-main{
  color: #323A5D;
}

.card{
  align-items: center;
  padding: 10px 20px;
  background: #fff;
  border-radius: 15px;
  justify-content: space-around;
}

.drop-shadow1{
  filter: drop-shadow(0px 4px 16px rgba(0, 0, 0, 0.5));
}
.drop-shadow2{
  filter : drop-shadow(0px 0px 5px rgba(0, 0, 0,0.2));
}

.col{
  margin: 0px;
}